<header>
  <nav>
    <ul>
      <li><a routerLink="/signup">New Account</a></li>
      <li><a routerLink="/pe">Product_Entry</a></li>
      <li><a routerLink="/bp">Billing_Page</a></li>
      <li><a routerLink="/login" (click)="logout()">Logout</a></li>
    </ul>
  </nav>
</header>
<div class="temp">
    <h1>{{welcome}}</h1>
                <table class="table">
                    <tr>
                        <th>S.no</th>
                        <th>Product_Code</th>
                        <th>Product_Name</th>
                        <th>Product_Price</th>  
                        <th>Product_Gst</th>
                        
                         <tr *ngFor="let product_name of products; let i = index">
                          <td>{{i + 1}}</td>
                        <td>{{product_name.product_code}}</td>
                        <td>{{product_name.product_name}}</td>
                           <td>{{product_name.product_price}}</td>
                        <td>{{product_name.product_gst}}</td>
               
               </table>

               <br>
  <form
 #userForm="ngForm"
 (ngSubmit)="onSubmit(userForm.value)">
    <div class="ui-g-12" style="padding: 36px;">
     product_code: 
      <input type="text" class="inputbox" name='product_code' required placeholder="product_code" ngModel> 
      product_name:  
      <input type="text" class="inputbox" name='product_name' placeholder="product_name" ngModel> 
     
      product_price:
       
      <input type="number" class="inputbox" name='product_price' placeholder="product_price" ngModel> 
       product_gst:  
      <input type="text" class="inputbox" name='product_gst' placeholder="product_gst" ngModel><br>
      <br> <input type='submit' value='insert' class="butn">
    </div>
</form>

<br>

<form
#del="ngForm"
 (ngSubmit)="delete(del.value)">
 <span class="del"> DELETE: </span> 
 <div class="ui-g-12" style="padding-left: 36px; margin-top: 1%">
  <input type='text' class="inputbox" name='product_code' required placeholder="product_code"  ngModel>
  <br>
  <br>
  <input type='submit' value='delete' class="butn"> 
</div>
</form>
<p>
        
<br>




<br>
<BR>
 
  <span class="del">UPDATE: </span> 
 <form #up="ngForm"
  (ngSubmit)="update(up.value)">
  <div class="ui-g-12" style="padding-left: 36px; margin-top: 1%"> 
    product_code:<input type='text' class="inputbox" name='product_code' required placeholder="product_code" ngModel>
    product_name:<input type='text' class="inputbox" name='product_name' placeholder="product_name" ngModel>
    product_price:<input type='text' class="inputbox" name='product_price' placeholder="product_price" ngModel>
    product_gst:<input type='text' class="inputbox" name='product_gst' placeholder="product_gst"ngModel>
    <br>
    <br>
    <input type='submit' value='update' class="butn"> 
  </div>
  </form>
</div>
  