
 <!-- <header>
    <h1>Stephenprakash <br>
    <h2>The       Official       Site</h2></h1>
    <nav>
    <ul>
    <li><a href="index.html">Home</a></li>
    <li> <a href="Profile.html">Profile</a></li>
    <li><a routerLink="/pe">Product_Entry</a></li>
    <li><a routerLink="/bp">Billing_Page</a></li>
    <li><a href="Gallery.html">Contact</a></li>
    <li><a href="About.html">About</a></li>
    </ul>
    </nav>
    </header> -->

<!-- <a >Product_Entry</a>
<a >Billing_Page</a> -->

<form class="login"
#loginForm="ngForm" (ngSubmit)="onLogin(loginForm.value)">
    <h1 class="login-title">Simple Login</h1>
    <input type="text" class="login-input" name="email" placeholder="Email Adress" ngModel>
    <input type="{{type}}" class="login-input" name="password" placeholder="Password" ngModel>
     <!-- <p class="login-lost"> 
        <input type="checkbox" (click)="toggleShow()">Show Password
     </p>  -->
    <input type="submit" value="Login" class="login-button">

    <!-- <p ><a href="">Forgot Password?</a></p> -->
</form>

<router-outlet></router-outlet>

                