/* a{
    text-decoration: none;
    background: black;
    color: yellow;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;

}
p{
    background: black;
    color:yellow;
    text-align: center;
     font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    
} */
ul {
	 
    list-style:none;
	
}

a:link,a:visited
{
	text-decoration:none;
	color:brown;
	font-family:Arial;

}


header h2
{
text-align:center;	
}
header h1
{
	color:black;
	margin:10px;
	font-size:30px;
	font:bold;
	font-family:Arial;
	text-align:center;
}
header
{
	
	background-image:url('rose1.jpg');
   height:100px;
   margin:20px;
	
}
a:hover
{
	color:black;
}
                nav ul{
	list-style-type:none;
	padding:0;
 }
	nav{
		text-align:center;
	}									
nav li{
	display:inline;
	float:left;
	
	
	}
	nav a:hover{
		background-color:green;
	}
	
	nav a:link,a:visited
	{
		background-color:pink;
		color:black;
		display:block;
		width:160px;
		text-align:center;
		padding:10px 0;
	}

	.login {
		margin-top: 79px !important;
		margin: 20px auto;
		width: 332px;
		padding: 30px 25px;
		background: white;
		border-radius: 6px;
		border: 1px solid crimson;
	  }
	  
	  h1.login-title {
		margin: -28px -25px 25px;
		padding: 15px 30px;
		line-height: 30px;
		font-size: 19px;
		font-weight: 300;
		color: #ADADAD;
		text-align: left;
		background: #f7f7f7;
	  }
	  
	  .login-input {
		width: 276px;
		height: 31px;
		margin-bottom: 25px;
		font-size: 12px;
		text-align: left;
		padding-left: 21px;
		background: #fff;
		border: 1px solid #ccc;
		border-radius: 4px;
	  }
	  .login-input2 {
		width: 276px;
		height: 31px;
		margin-bottom: 25px;
		font-size: 12px;
		background: #fff;
		text-align: left;
		padding-left: 20px;
		border: 1px solid #ccc;
		border-radius: 4px;
	  }
	  .login-input2 :focus {
		border-color:#6e8095;
		outline: none;
	  }
	  .login-input:focus {
		  border-color:#6e8095;
		  outline: none;
		}
	  .login-button {
	height: 26px;
    width: 133px;
    margin-left: 22%;
    padding: 0;
    font-size: 13px;
    color: #fff;
    text-align: center;
    background: #f0776c;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    outline: 0;
	  }
	  
	  .login-lost
	  {
		text-align:center;
		margin-bottom:0px;
	  }
	  
	  .login-lost a
	  {
		color:#666;
		text-decoration:none;
		font-size:13px;
	  }
	  