/* You can add global styles to this file, and also import other style files */


label{
	color: yellow;
	background-color: black;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	margin: 5px;
	font-size: 30px;


}
.tbut
{
	
	color: white;
	background-color:white;
	border:green;
	width: 0px;
	height: 0px;
}
ul{
	list-style-type: circle;
}
li{
	color: green;
}

.jk
{
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}

.st{
    text-align: left;
    padding-left: 23px;
    border: 2px solid black;
    height: 10px;
    border-radius: 6px;
    width: 460px;
    /* background-color: navajowhite; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    float: center;
    height: 37px;
}
h1{
background-color: black;
color: yellow;
font-family: Arial, Helvetica, sans-serif;
}

.sbut
{
	background-color:wheat;
	width:150px;
	height: 30px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	color: black;
	float: center;

}
